

#app115{
    width: 720px;
    position: relative;
    left: 560px;
}
#app115 .ad{
    width: 720px;
    height: 335px
}
.ad img{
    width: 100%;
    height: 100%;
}
#app{
    width: 750px;
    height: 945px;
}
#app{
    box-sizing:border-box;
    width: 720px;
    padding: 10px;
    background-color: #d2d8b2;
}
.header_top{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#400b17;
    padding-bottom: 12px;
}
.one,.tre{
    flex: 1;
    font-size: 16px;
}
.tre{
    text-align: right;
    font-size: 16px;
}
.two{
    flex: 2;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#elec_table{
    position:relative;
    table-layout : fixed;
}
.table-body{
    overflow-y:auto;
    overflow-x:hidden;
    /* height: calc(100% - 47.2px); */
    border: 1px solid #000000;
    border-bottom: 2px solid #000;
}
table{
    table-layout:fixed;
}
#elec_table td{
    /* width:20%; */
    white-space:normal;
}
.theadstyle thead tr th{
    text-align:center;
}
.tabtrend1 {
    width: auto;
    background-color: #DCDCDC;
    font-family: Arial;
    table-layout: fixed;
    text-align: center;
    border-collapse:collapse ;
}
.tabtrend1 td {
    height: 38px;
}
.tabtrend1 thead tr, .tabtrend1 tbody.m td {
    background-color: #F4F4F4;
}
.tabtrend1 tbody tr, .tabtrend1 tfoot tr {
    background-color: #ffffff;
}
.blue_2{
    line-height: 20px;
    color: blue;
    font-size: 14px;
    font-weight: bold
}
_td table tbody td{
    width: 24.8px;
}


.tabtrend115 {
    width: 100%;
    background-color: #DCDCDC;
    font-family: Arial;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}
.tabtrend115 tbody tr, .tabtrend115 tfoot tr {
    background-color: #ffffff;
}
.tabtrend115 thead tr, .tabtrend115 tbody.m td {
    background-color: #F4F4F4;
}
.tabtrend115 td {
    height: 38px;
}

.red{
    background: url(red.jpg) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.blue{
    background: url(ball_blue_b.gif) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.orange11{
    background: url(orange.jpg) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.colorblue{
    color: blue;
}
.yellow{
    background-color: #e0e057;
}
.orange{
    background-color: #e48e36;
}
.bor_right{
    border-right: 1px solid #000;
}
table {
     border-spacing: 0px; 
      border: 1px solid #eee; 
}
table thead{
    border-bottom: 1px solid #000;
    /* border-right: 1px solid #000; */
}
.bor-r{
    border-right: 1px solid #000;
}
.b1{
    background: url(../image/1-11/b1.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b2{
    background: url(../image/1-11/b2.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b3{
    background: url(../image/1-11/b3.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b4{
    background: url(../image/1-11/b4.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b5{
    background: url(../image/1-11/b5.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b6{
    background: url(../image/1-11/b6.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b7{
    background: url(../image/1-11/b7.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b8{
    background: url(../image/1-11/b8.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b9{
    background: url(../image/1-11/b9.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b10{
    background: url(../image/1-11/b10.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.b11{
    background: url(../image/1-11/b11.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o1{
    background: url(../image/1-11/o1.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o2{
    background: url(../image/1-11/o2.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o3{
    background: url(../image/1-11/o3.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o4{
    background: url(../image/1-11/o4.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o5{
    background: url(../image/1-11/o5.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o6{
    background: url(../image/1-11/o6.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o7{
    background: url(../image/1-11/o7.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o8{
    background: url(../image/1-11/o8.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o9{
    background: url(../image/1-11/o9.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o10{
    background: url(../image/1-11/o10.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.o11{
    background: url(../image/1-11/o11.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h1{
    background: url(../image/1-11/h1.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h2{
    background: url(../image/1-11/h2.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h3{
    background: url(../image/1-11/h3.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h4{
    background: url(../image/1-11/h4.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h5{
    background: url(../image/1-11/h5.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h6{
    background: url(../image/1-11/h6.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h7{
    background: url(../image/1-11/h7.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h8{
    background: url(../image/1-11/h8.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h9{
    background: url(../image/1-11/h9.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h10{
    background: url(../image/1-11/h10.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}
.h11{
    background: url(../image/1-11/h11.png) no-repeat center center;
    background-size:80% 80%;
    color: #fff;
    text-align: center;
}