<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>北京11选5历史号码开奖展示</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/115.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>
</head>

<body>
    <div id="app115" v-cloak style="height: 100%;width:100%">
        <div class="ad">
            <img src="./css/b.jpg" alt="">
        </div>
        <div id="app">
            <div class="header_top">
                <div class="one">第<span style="font-weight: bold;" v-text="qi"></span>期</div>
                <div class="two">北京11选5历史号码开奖展示</div>
                <div class="tre">距离止售:<span style="font-weight: bold;">11:00</span></div>
            </div>
            <div id="trend" style="height: calc(100% - 27px);">
                <div id="elec_table">
                    <div class="table-head">
                        <table cellpadding="0" cellspacing="1" class="tabtrend115" id="tabtrend1">
                            <thead>
                                <tr>
                                    <td rowspan="2" width="15">期号</td>
                                    <td rowspan="2" colspan="5">开奖顺序</td>
                                    <td colspan="11">开奖号码</td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                </tr>
                            </thead>
                            <tbody style="visibility: collapse;">
                                <tr v-for="(item,index) in data" :key="index">
                                    <td>{{item.qh}}</td>
                                    <td  :class="{red:index == 0 || index == 1 || index == 2,colorblue:index == 3 || index == 4}" v-for="(val,index) in item.prizeNumber" :key="index">{{val}}</td>
                                    <td v-for="val in item.otherNumbers" :class="{ blue: val.display }">
                                        {{val.display?val.value:val.forget}}
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-body">
                    <table cellpadding="0" cellspacing="1" class="tabtrend115" id="tabtrend">
                        <thead style="visibility: collapse;">
                            <tr>
                                <td rowspan="2" width="15">期号</td>
                                <td rowspan="2" colspan="5">开奖顺序</td>
                                <td colspan="11">开奖号码</td>

                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in lastData" :key="index">
                                <td>{{item.qh}}</td>
                                <td  :class="{red:index == 0 || index == 1 || index == 2,colorblue:index == 3 || index == 4}" v-for="(val,index) in item.prizeNumber" :key="index">{{val}}</td>
                                <td v-for="val in item.otherNumbers" :class="{ blue: val.display && val.color === '',red: val.display?(val.color === 'red'?true:false):false }">
                                    {{val.display?val.value:val.forget}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/vue.min.js"></script>
<script src="./js/jquery.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: "#app115",
        data() {
            return {
                qi: "",
                data: [],
                number: {
                    qh: 0,
                    prizeNumber: 0,
                    otherNumbers: []
                },
                colorData: {},
                lastData:null
            }
        },
        created() {
            this.initPreData();
            this.getData();
        },
        mounted(){
            // setInterval( ()=>{
            //     this.getData();
            // }, 5000)
        },
        methods: {
            initPreData() {
                for (var i = 1; i < 12; i++) {
                    this.number.otherNumbers.push({
                        value: i,
                        forget: 0,
                        display: false,
                        color:""
                    });
                }
            },
            getData() {
                that = this;
                $.ajax({
                    url: "http://139.9.248.208:9090/openapi/winaward/11x5",
                    dataType: "json",
                    success: function (res) {
                        that.dealData(res.data);
                        that.colorData = that.sort(res.data);
                        that.lastData = that.addcolor();
                    }
                })
            },
            dealData(data) {
                var that = this;
                this.qi = Number(data[data.length - 1].qh) + 1;
                this.data = data.map((item, index) => {
                    that.number.qh = item.qh.slice(-2);
                    var allPrizeNumbers = item.numbers.split(',')
                    that.number.prizeNumber = allPrizeNumbers;
                    allPrizeNumbers.forEach(prizeNumber => {
                        for (var i = 0; i < that.number.otherNumbers.length; i++) {
                            var otherNumber = that.number.otherNumbers[i];
                            if (otherNumber.value == prizeNumber) {
                                otherNumber.display = true;
                                otherNumber.forget = 0;
                                break;
                            }
                        }
                    });
                    that.number.otherNumbers.forEach(otherNumber => {
                        if (!otherNumber.display) {
                            otherNumber.forget += 1;
                        }
                    })
                    var cloneData = that.deepClone(this.number);
                    that.number.otherNumbers.forEach(otherNumber => {
                        if (otherNumber.display) {
                            otherNumber.display = false;
                        }
                    })
                    return cloneData
                });
                console.log(this.data);

            },
            deepClone(obj) {
                if (typeof obj == null || typeof obj != 'object') return obj;
                var res = null;
                if (typeof obj === 'object') {
                    res = {};
                    for (var key in obj) {
                        res[key] = this.deepClone(obj[key]);
                    }
                } else if (Array.isArray(obj)) {
                    res = [];
                    for (var i = 0; i < obj.length; i++) {
                        res.push(this.deepClone(obj[i]));
                    }
                } else {
                    res = obj;
                }
                return res;
            },
            addcolor(){
                let datalist = this.data;
                for(let index in this.colorData){
                    let cur = this.colorData[index];
                    console.log(index,cur);
                    let dataItem = datalist[index].otherNumbers;
                    for(let inde in dataItem){
                        let curData = dataItem[inde];
                        for(let i=0;i< cur.length;i++){
                            if(curData.value == cur[i]){
                                curData.color = "red";
                            }
                        }
                    }

                }
                console.log("red",datalist);
                return datalist;
            },
            sort(data){
                var ary =[],lineAry={};
                data.forEach((item,index) => { //将每期中奖号码有小到大排序
                    var numbers = item.numbers.split(',');
                    numbers = numbers.map(item => Number(item));
                    ary.push(numbers.sort((a,b)=>a-b))
                });
                ary.forEach((item,index) =>{
                    let inde = index;
                    var arr = this.lianxu(item);
                    if(arr.length === 5){
                        if(this.ou(arr) || this.ji(arr)){
                            lineAry[inde] = arr;
                        }
                    }else{
                        for(var i = 0;i<arr.length;i++){
                            if(arr[i].length > 2){
                                lineAry[inde] = arr[i];
                            }
                        }
                    }
                });
                return lineAry;
            },
            lianxu(arr){//获取连续的数字
                var result = [],
                    i = 0;
                result[i] = [arr[0]];
                arr.reduce(function(prev, cur){
                    cur-prev === 1 ? result[i].push(cur) : result[++i] = [cur];
                    return cur;
                });
                return result;
            },
            ou(ary){//全部偶数
                return ary.every(item =>{
                    item[0]%2 === 0;
                })
            },
            ji(ary){//全部奇数
                return ary.every(item =>{
                    item[0]%2 === 1;
                })
            }

        }
    });
</script>

</html>